#dive1{
    "width:80px;
    height:80px;
    display:none;
    background-color:red;"
}
#dive2{
    "width:80px;
    height:80px;
    display:none;
    background-color:green;"
}

#dive3{
    "width:80px;
    height:80px;
    display:none;
    background-color:blue;"
}